:root {
    --color-primary: navy;
    --color-secondary: black;
    --color-text: black; /* Valeur par défaut pour le texte */
    --color-background: white; /* Valeur par défaut  pour le fond */
    --color-light-gray: #c8c8c8; /* Gris clair pour le fond */
    --color-dark-gray: #2c2c2c; /* Gris sombre pour le fond sombre */
    --color-loupe-bg: #lightgray; /* Gris clair pour le fond des SVG dans le thème clair */
    --color-stat-bg: #c8c8c8; /* Gris clair pour le fond des SVG dans le thème clair */
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
    background-color: var(--color-background);
    padding: 2rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
}

.container-large {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.navbar {
    background-color: var(--color-background);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    position: relative;
}

.under_ligne {
    color: black;
    text-decoration: none;
    position: relative;
}

.under_ligne::after {
    content: "";
    background-color: darkblue;
    position: absolute;
    width: 0;
    height: 3px;
    margin-top: -2px;
    display: block;
    transition: 0.5s;
}

.under_ligne:hover::after,
.under_ligne.active::after {
    width: 100%;
    transition: 0.75s;
}

.menu li {
    position: relative;
}

.menu li .sub-menu {
    list-style: none;
    padding: 0 1.5rem;
    position: absolute;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 0;
    overflow: hidden;
    transition: 0.75s;
    margin-top: 5px;
    max-width: 75px;
    word-break: break-all;
}

.menu li:hover .sub-menu {
    height: auto;
    padding: 0.5rem 1.5rem;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .site-header .menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .site-header .menu.active {
        display: flex;
    }
}
